.heading-team-name {
	font-size: 36px;
}

img.team-member-profile-li {
	margin-left: 10px;
	width: 16px;
	height: 16px;
}

img.team-member-profile-tw {
	margin-left: 5px;
	width: 20px;
	height: 16px;
}

